








contact-btn{
  background-color: black;
}


.current-head{
  width: 852px;
  height: 115px;
  text-align: center;
  margin: 0 auto;
}
.card-container{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.card{
  width: 364px;
  height: 300px;
  border-radius: 16px;
  background-color: #EBEBEB;
  padding: 20px;
}

.my-text{
  width: 946px;
  height: 113px;
  margin-top: 30px;
  margin: 20px auto;
  text-align: center;
}
.my-text-container{
  display: flex;
  height: 219px;
  width: 1140px;
  border: 2px solid blue;
  align-items: center;
  padding: 10px;
  margin: 10px auto;
  border-radius: 16px;
}
.node-img{
  width: 143px;
  height: 88px;
}
.node-js{
  height: 141px;
  width: 940px;
  margin-left: 20px;
}

/* react node mongo end */
.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  
  font-style: normal;
}
/* shared style */
.text-center{
  text-align: center;
  color: #FFFFFF;
}


/* nav styles */
nav{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin: 0 100px;
    justify-content: space-between;
  

}

.nav-title{
    font-weight:900 ;
    font-size: x-large;
    color: 0D1321;
}
.btn-resume{
  background-color:white ;
  font-weight:400px ;
  font-size: 14px;
  color:#0D1321 ;
  padding: 5px; ;
  border-radius:5px 
  ;
  border: 1px solid #0D1321;
  

}


.banner-body{
  width: 1050px;
  height: 585px;
 
  justify-content:center;
  margin: 0 auto;
}

.banner{
  width: 1440px;
  height: 650px;
  background-image: url(../images/Hero-bg.png);
  background-position:top right;
  
}
.banner-image{
  display: block;
  width: 240px;
  height: 240px;
  
  margin: 0 auto;
  
}
.banner-greetings{
  text-align: center;
  font-size: 45px;
}



.why-web-body{
  width: 1140px;
  
  background-color: brown;
  padding: 80px 97px;
  border-radius: 16px;
  
  
  }
  .why-web{
      width:852px ;
      height: 115px;
      margin: 0 auto;
      text-align: center;
  }
  
  .layer-btn{
      height: 40px;
      width: 130px;
      border: none;
      padding: 12px 20px;
     
  }
  
  .layer1{
      display: flex;
      height: 340px;
      width: 946px;
      gap: 118px;
      align-items: center;
     margin: 0 auto;
     background-color: cadetblue;
     padding: 48px;
     border-radius: 16px;
     margin-bottom: 32px;
  }
  
  .layer1-body{
      height: 220px;
      width: 477px;
  }
  .layer1-image{
      width: 275px;
      height: 240px;
  }

/* I need Support styles */
.support{
  width: 1140px;
  height: 315px;
  background-image: url(../images/handshake.jpg);
  justify-content: center;
  background-position: center;
  padding: 100px;
  border-radius: 10px;
  
}
.contact-btn{
  background-color: black;
  color: white;
  width: 243px;
  height: 66px;
  border-radius: 9px;
  margin: 0 auto;
  display: block;
  
}

.support-box{
  max-width: 1040px;
  height: 186px;

}
.support-text{
  height: 57px;
  width: 548px;
  border-radius: 8px;
  border: none;
}

.feedback-submit-div{
width: 685px;
height: 60px;
margin: 0 auto;
}
.support-submit-btn{
  width: 120px;
  height: 58px;
  border-radius: 8px;
  border: none;
}


/* footer styles */
footer{
  margin: 80px 150px 13px 15opx;
}

.footer-div{
  height: 100px;
  max-width: 1440px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}




.inspiration-title{
  width: 852px;
  height: 115px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 48px;
}
.inspire-video{
  max-width: 1075px;
  height: 550px;
 border: 1px solid red;
 border-radius: 16px;
  margin: 0 auto;
  padding: 30px;
}
.guideline{
  border-radius: 10px;
  }